# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directory
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore the semantic-drone-dataset directory
semantic-drone-dataset/